<a href="https://colab.research.google.com/github/cedgar86/cogwork-colab/blob/main/Panel_analysis_using_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Panel analyses using R in Colab (work in progress).

For my next trick, I'm going to use R in the Colab environment to perform a Panel Analyses on some longitudinal data.

To do this, I want to use the PLM package, from the R programming language. Before getting started my first task was to figure out how to run R in Colab, which it turns out can be done in one of two different ways:

1) Entering the following web address into my browser's address bar to initialise a new notebook in the R language:

colab.to/r

Or in the event I wanted to use R and Python together (which I don't, for now)

2) Load the rpy2 extension by running the following code in a cell:

%load_ext rpy2.ipython

Then, whenever you want to use R, you begin the cell with %%R

If you want to use R for just one line, begin that line with %R

For this project, I'll be sticking with method 1 to keep things simple.

Now that R is loaded, the next is to install and load the required packages, to conduct a basic panel analysis in R we can use the PLM package - 'Linear Models for Panel Data':

In [1]:
install.packages('plm')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘miscTools’, ‘rbibutils’, ‘bdsmatrix’, ‘zoo’, ‘sandwich’, ‘lmtest’, ‘maxLik’, ‘Rdpack’, ‘Formula’

In [2]:

library(plm)

Next up, I'm going to load in the 'wage' dataset, which is ideal for the purposes of the current demonstration. The data within allows us to analyse changes in watches both between individuals, and across time.

We can use both the 'summary' and 'head' commands to preview the data.

In [3]:

wage <- read.csv("https://raw.githubusercontent.com/sdevine188/econometrics_academy/master/panel_data/panel_wage.csv")
attach(wage)

summary(wage)

      exp             wks             occ              ind
 Min.   : 1.00   Min.   : 5.00   Min.   :0.0000   Min.   :0.0000
 1st Qu.:11.00   1st Qu.:46.00   1st Qu.:0.0000   1st Qu.:0.0000
 Median :18.00   Median :48.00   Median :1.0000   Median :0.0000
 Mean   :19.85   Mean   :46.81   Mean   :0.5112   Mean   :0.3954
 3rd Qu.:29.00   3rd Qu.:50.00   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :51.00   Max.   :52.00   Max.   :1.0000   Max.   :1.0000
     south             smsa              ms              fem
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:1.0000   1st Qu.:0.0000
 Median :0.0000   Median :1.0000   Median :1.0000   Median :0.0000
 Mean   :0.2903   Mean   :0.6538   Mean   :0.8144   Mean   :0.1126
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
     union             ed             blk              lwage
 Min.   :0.000   Min.   : 4.00   Min.   :0.00000   Min.   :4.605
 1st Qu.:0.000   1st Qu.:12.00   1st Qu.:0.00000   1st Qu.:6.395
 Median :0.000   Median :12.00   Median :0.00000   Median :6.685
 Mean   :0.364   Mean   :12.85   Mean   :0.07227   Mean   :6.676
 3rd Qu.:1.000   3rd Qu.:16.00   3rd Qu.:0.00000   3rd Qu.:6.953
 Max.   :1.000   Max.   :17.00   Max.   :1.00000   Max.   :8.537
       id            t         tdum1            tdum2            tdum3
 Min.   :  1   Min.   :1   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:149   1st Qu.:2   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :298   Median :4   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :298   Mean   :4   Mean   :0.1429   Mean   :0.1429   Mean   :0.1429
 3rd Qu.:447   3rd Qu.:6   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :595   Max.   :7   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
     tdum4            tdum5            tdum6            tdum7
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.1429   Mean   :0.1429   Mean   :0.1429   Mean   :0.1429
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
      exp2
 Min.   :   1.0
 1st Qu.: 121.0
 Median : 324.0
 Mean   : 514.4
 3rd Qu.: 841.0
 Max.   :2601.0

In [4]:
head(wage, 10)

   exp wks occ ind south smsa ms fem union ed ⋯ id t tdum1 tdum2 tdum3 tdum4
1   3  32  0   0   1     0    1  0   0      9 ⋯ 1  1 1     0     0     0
2   4  43  0   0   1     0    1  0   0      9 ⋯ 1  2 0     1     0     0
3   5  40  0   0   1     0    1  0   0      9 ⋯ 1  3 0     0     1     0
4   6  39  0   0   1     0    1  0   0      9 ⋯ 1  4 0     0     0     1
5   7  42  0   1   1     0    1  0   0      9 ⋯ 1  5 0     0     0     0
6   8  35  0   1   1     0    1  0   0      9 ⋯ 1  6 0     0     0     0
7   9  32  0   1   1     0    1  0   0      9 ⋯ 1  7 0     0     0     0
8  30  34  1   0   0     0    1  0   0     11 ⋯ 2  1 1     0     0     0
9  31  27  1   0   0     0    1  0   0     11 ⋯ 2  2 0     1     0     0
10 32  33  1   1   0     0    1  0   1     11 ⋯ 2  3 0     0     1     0
   tdum5 tdum6 tdum7 exp2
1  0     0     0        9
2  0     0     0       16
3  0     0     0       25
4  0     0     0       36
5  1     0     0       49
6  0     1     0       64
7  0     0     1       81
8  0     0     0      900
9  0     0     0      961
10 0     0     0     1024

The following code does three things; 1) asigns the dependent/outcome variable 'y' using the (log wage) lwage column from the wage dataframe; 2) asigns data from four columns of the wage dataframe, experience (exp), experience squared (exp2), weeks worked (wks), and education (ed), as independent/predictor variables; 3) use the 'pdata.frame' to designate the 'wage' data frame as panel data, and asign it to the 'pwage' dataframe - identifying both id and time (t) colums as observation identifier and time variables respectively.

In [10]:
pwage <- pdata.frame(wage, index=c("id","t"))
attach(pwage)

y <- cbind(lwage)
x <- cbind(exp, exp2, wks, ed)



summary(pwage)

The following objects are masked from wage:

    blk, ed, exp, exp2, fem, id, ind, lwage, ms, occ, smsa, south, t,
    tdum1, tdum2, tdum3, tdum4, tdum5, tdum6, tdum7, union, wks

      exp             wks             occ              ind
 Min.   : 1.00   Min.   : 5.00   Min.   :0.0000   Min.   :0.0000
 1st Qu.:11.00   1st Qu.:46.00   1st Qu.:0.0000   1st Qu.:0.0000
 Median :18.00   Median :48.00   Median :1.0000   Median :0.0000
 Mean   :19.85   Mean   :46.81   Mean   :0.5112   Mean   :0.3954
 3rd Qu.:29.00   3rd Qu.:50.00   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :51.00   Max.   :52.00   Max.   :1.0000   Max.   :1.0000

     south             smsa              ms              fem
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:1.0000   1st Qu.:0.0000
 Median :0.0000   Median :1.0000   Median :1.0000   Median :0.0000
 Mean   :0.2903   Mean   :0.6538   Mean   :0.8144   Mean   :0.1126
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000

     union             ed             blk              lwage
 Min.   :0.000   Min.   : 4.00   Min.   :0.00000   Min.   :4.605
 1st Qu.:0.000   1st Qu.:12.00   1st Qu.:0.00000   1st Qu.:6.395
 Median :0.000   Median :12.00   Median :0.00000   Median :6.685
 Mean   :0.364   Mean   :12.85   Mean   :0.07227   Mean   :6.676
 3rd Qu.:1.000   3rd Qu.:16.00   3rd Qu.:0.00000   3rd Qu.:6.953
 Max.   :1.000   Max.   :17.00   Max.   :1.00000   Max.   :8.537

       id       t           tdum1            tdum2            tdum3
 1      :   7   1:595   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 2      :   7   2:595   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 3      :   7   3:595   Median :0.0000   Median :0.0000   Median :0.0000
 4      :   7   4:595   Mean   :0.1429   Mean   :0.1429   Mean   :0.1429
 5      :   7   5:595   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 6      :   7   6:595   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000
 (Other):4123   7:595
     tdum4            tdum5            tdum6            tdum7
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000   Median :0.0000   Median :0.0000
 Mean   :0.1429   Mean   :0.1429   Mean   :0.1429   Mean   :0.1429
 3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000   3rd Qu.:0.0000
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.0000

      exp2
 Min.   :   1.0
 1st Qu.: 121.0
 Median : 324.0
 Mean   : 514.4
 3rd Qu.: 841.0
 Max.   :2601.0

Now that the wage data is in the appropraite format, we can use a variety of different models to evaluate how the data contained wthin changes over time and between indivudals, with each model providing different estimators, providing insight into different trends in the data.

Typically, you aren't necesarily interested in all of these, but we'll go through each and describe the type of insight the estimator provides. Providing a general aim, we want to know what predicts change in wage over time, both between and within individuals.

First up is the pooled ordinary least squares. The pooled model specifies constant coefficients, the usual assumptions for cross-sectional
analysis.This is the most restrictive panel data model and is not used much in the literature. Essentially it looks for an 'overall effect' but it unable to provide specific insight into effects existing between and within observations.

Looking at the pooled estimator results, we can see that experience, weeks worked, and education were all significant positie predictors of wages. Taking experience as an example, we see that an additional year of experience predicted 4.5 units of wage increase.

In [6]:
# Pooled OLS estimator
pooling <- plm(y ~ x, data=pwage, model= "pooling")
summary(pooling)

Pooling Model

Call:
plm(formula = y ~ x, data = pwage, model = "pooling")

Balanced Panel: n = 595, T = 7, N = 4165

Residuals:
       Min.     1st Qu.      Median     3rd Qu.        Max.
-2.16057670 -0.25034526  0.00027256  0.26792139  2.12969386

Coefficients:
               Estimate  Std. Error  t-value  Pr(>|t|)
(Intercept)  4.9080e+00  6.7330e-02  72.8945 < 2.2e-16 ***
xexp         4.4675e-02  2.3929e-03  18.6701 < 2.2e-16 ***
xexp2       -7.1563e-04  5.2794e-05 -13.5552 < 2.2e-16 ***
xwks         5.8270e-03  1.1826e-03   4.9271 8.673e-07 ***
xed          7.6041e-02  2.2266e-03  34.1511 < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    886.9
Residual Sum of Squares: 635.41
R-Squared:      0.28356
Adj. R-Squared: 0.28287
F-statistic: 411.624 on 4 and 4160 DF, p-value: < 2.22e-16

Looking at the between variation, using the between estimator. From the coefficients, we can see that if you have one more year of experience compared to the average experience across individuals, you will havbe .04 higher wage

In [ ]:
# Between estimator
between <- plm(y ~ x, data=pwage, model= "between")
summary(between)

Oneway (individual) effect Between Model

Call:
plm(formula = y ~ x, data = pwage, model = "between")

Balanced Panel: n = 595, T = 7, N = 4165
Observations used in estimation: 595

Residuals:
     Min.   1st Qu.    Median   3rd Qu.      Max.
-0.978153 -0.220264  0.036574  0.250118  0.985629

Coefficients:
               Estimate  Std. Error t-value  Pr(>|t|)
(Intercept)  4.68303917  0.21009890 22.2897 < 2.2e-16 ***
xexp         0.03815295  0.00569666  6.6974 4.953e-11 ***
xexp2       -0.00063127  0.00012568 -5.0228 6.757e-07 ***
xwks         0.01309028  0.00406592  3.2195  0.001355 **
xed          0.07378378  0.00489848 15.0626 < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    92.322
Residual Sum of Squares: 62.187
R-Squared:      0.32641
Adj. R-Squared: 0.32185
F-statistic: 71.4768 on 4 and 590 DF, p-value: < 2.22e-16

Looking at the within variation, using the fixed effects/within estimator, we can see that if an individual has one more year of experience compared to their own average, their wages will be higher by 1.14 units.

Note that the education varible is not listed as it is time-invariant.

In [ ]:
# Fixed effects/within estimator
fixed <- plm(y ~ x, data=pwage, model= "within")
summary(fixed)

Oneway (individual) effect Within Model

Call:
plm(formula = y ~ x, data = pwage, model = "within")

Balanced Panel: n = 595, T = 7, N = 4165

Residuals:
      Min.    1st Qu.     Median    3rd Qu.       Max.
-1.8120879 -0.0511128  0.0037112  0.0614250  1.9434065

Coefficients:
         Estimate  Std. Error t-value  Pr(>|t|)
xexp   1.1379e-01  2.4689e-03 46.0888 < 2.2e-16 ***
xexp2 -4.2437e-04  5.4632e-05 -7.7678 1.036e-14 ***
xwks   8.3588e-04  5.9967e-04  1.3939    0.1634
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    240.65
Residual Sum of Squares: 82.632
R-Squared:      0.65663
Adj. R-Squared: 0.59916
F-statistic: 2273.74 on 3 and 3567 DF, p-value: < 2.22e-16

In [ ]:
For the first differences estimaor, we can see that gaining an additional year of experience (squared) will increase wages by  .0005 units. 

Note some of the varibles are dropped by the model as they are time-invariant or increase deterministically.

In [11]:
# First differences estimator
firstdiff <- plm(y ~ x, data=pwage, model= "fd")
summary(firstdiff)

Oneway (individual) effect First-Difference Model

Call:
plm(formula = y ~ x, data = pwage, model = "fd")

Balanced Panel: n = 595, T = 7, N = 4165
Observations used in estimation: 3570

Residuals:
      Min.    1st Qu.     Median    3rd Qu.       Max.
-2.1131555 -0.0654718 -0.0095751  0.0483881  2.3295637

Coefficients:
               Estimate  Std. Error t-value  Pr(>|t|)
(Intercept)  0.11706540  0.00631057 18.5507 < 2.2e-16 ***
xexp2       -0.00053212  0.00013927 -3.8207 0.0001354 ***
xwks        -0.00026826  0.00056483 -0.4749 0.6348525
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    118.06
Residual Sum of Squares: 117.58
R-Squared:      0.004108
Adj. R-Squared: 0.0035496
F-statistic: 7.35691 on 2 and 3567 DF, p-value: 0.0006479

For the random effects estimaor, we can see that gaining an additional year of experience (squared) will increase wages by  .0005 units. It can be interpretted in the same was as the within/fixed effects estimator, with the additional summary if 'theta' i.e. what percent of the variation comes from the individual, which we can see here is 82%

In [12]:
# Random effects estimator
random <- plm(y ~ x, data=pwage, model= "random")
summary(random)

Oneway (individual) effect Random Effect Model
   (Swamy-Arora's transformation)

Call:
plm(formula = y ~ x, data = pwage, model = "random")

Balanced Panel: n = 595, T = 7, N = 4165

Effects:
                  var std.dev share
idiosyncratic 0.02317 0.15220 0.185
individual    0.10209 0.31952 0.815
theta: 0.8228

Residuals:
      Min.    1st Qu.     Median    3rd Qu.       Max.
-2.0439676 -0.1057048  0.0070992  0.1147499  2.0875839

Coefficients:
               Estimate  Std. Error  z-value Pr(>|z|)
(Intercept)  3.8294e+00  9.3634e-02  40.8974   <2e-16 ***
xexp         8.8861e-02  2.8178e-03  31.5360   <2e-16 ***
xexp2       -7.7257e-04  6.2262e-05 -12.4083   <2e-16 ***
xwks         9.6577e-04  7.4329e-04   1.2993   0.1938
xed          1.1171e-01  6.0572e-03  18.4426   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Total Sum of Squares:    260.94
Residual Sum of Squares: 151.35
R-Squared:      0.42
Adj. R-Squared: 0.41945
Chisq: 3012.45 on 4 DF, p-value: < 2.22e-16

In [ ]:
# LM test for random effects versus OLS
plmtest(pooling)

ERROR: ignored

In [ ]:
# LM test for fixed effects versus OLS
pFtest(fixed, pooling)

In [ ]:
# Hausman test for fixed versus random effects model
phtest(random, fixed)

	Hausman Test

data:  y ~ x
chisq = 6191.4, df = 3, p-value < 2.2e-16
alternative hypothesis: one model is inconsistent